@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #f2f2f2;
}

.box {
    position: absolute;
    top: 20%;
    left: 20%;
    animation: show_pop 1s ease forwards;
}

@keyframes show_pop {
    0% {
        transform: translateX(-100%);
    }
    40% {
        transform: translateX(-10%);
    }
    80%,
    100% {
        transform: translateX(20px);
    }
}

.box .hide {
    animation: hide_pop 1s ease forwards;
}

@keyframes hide_pop {
    0% {
        transform: translateX(20px);
    }
    40% {
        transform: translateX(10%);
    }
    80%,
    100% {
        opacity: 0;
        pointer-events: none;
        transform: translateX(-100%);
    }
}

.box .pop {
    background: #ffff;
    padding: 20px, 15px, 20px, 20px;
    border-radius: 10px;
    height: 8 0px;
    width: 410px;
    display: flex;
    align-items: center;
    border-left: 5px solid #82b582;
    justify-content: space-between;
    box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.12);
}

.box .pop.offline {
    border-color: #ccc;
}

.pop .content {
    display: flex;
    align-items: center;
}

.pop .content .icon {
    font-size: 15px;
    background: #0d8202;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 80%;
    color: #ffff;
}

.pop.offline .content .icon {
    background: #ccc;
}

.pop .content .details {
    margin-left: 15px;
}

.content .details span {
    font-size: 20px;
    font-weight: 500;
    padding: 2px 1px;
}

.content .details p {
    color: rgb(131, 131, 131);
}

.pop .close-icon {
    background: #fafafa;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 23px;
    cursor: pointer;
    color: #878787;
    border-radius: 50%;
}